/* général*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: auto;
  background-color: #0a0a0a;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 120%;
  margin: 15px;
  display: inline-block;
}

h2 {
  font-size: 32px;
  color: rgb(250, 250, 250);
  margin: 10px 16px 0px 16px;
}

.rouge {
  color: #f00;
}
h2:hover,
h2:focus {
  color: #444;
  background-color: cornsilk;
  border-radius: 20px;
  background-size: contain;
}

/* header*/

img {
  width: 100%;
  border-radius: 20px;
}

header #name {
  color: rgb(255, 255, 255);
}

header #nb {
  color: #f00;
}

header h1 {
  margin-bottom: 30px;
  position: relative;
}

h2 {
  background-color: rgb(12, 12, 12);
  font-size: 25px;
  border: 10px solid #190935;
  border-radius: 15px;
  text-align: center;
  transition: all 1s ease-out;
}

p,
ul {
  color: #fff;
}

/* footer */

footer {
  height: auto;
  width: auto;
  background-color: #190935;
  margin-top: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

footer h1 {
  color: #fff;
  padding-top: 80px;
}

footer h2 {
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
}

.copyright {
  font-weight: bold;
  padding-top: 2px;
  color: #777;
}
